alembic==0.9.9
amqp==2.3.1
asn1crypto==0.23.0
atomicwrites==1.1.5
attrs==18.1.0
Babel==2.6.0
backports.weakref==1.0rc1
bcrypt==3.1.4
billiard==3.5.0.3
bitsets==0.7.12
bleach==1.5.0
bokeh==0.12.13
boto==2.48.0
boto3==1.5.22
botocore==1.8.36
branca==0.2.0
bz2file==0.98
catboost==0.5.2.1
celery==4.1.1
certifi==2018.1.18
cffi==1.11.2
chardet==3.0.4
click==6.7
colorama==0.3.9
concepts==0.7.12
conda==4.3.16
contextlib2==0.5.5
cryptography==2.1.3
cycler==0.10.0
dash==0.21.0
dash-core-components==0.20.2
dash-html-components==0.9.0
dash-renderer==0.11.3
decorator==4.2.1
defusedxml==0.5.0
docutils==0.14
-e git+https://github.com/blei-lab/edward.git@7a583d1bdfafcbf42612b069756048322d896021#egg=edward
entrypoints==0.2.3
enum34==1.1.6
findspark==1.1.0
Flask==0.12.2
Flask-AppBuilder==1.11.1
Flask-Babel==0.11.1
Flask-Caching==1.4.0
Flask-Compress==1.4.0
Flask-Login==0.2.11
Flask-Migrate==2.1.1
Flask-OpenID==1.2.5
Flask-Script==2.0.6
Flask-SQLAlchemy==2.1
Flask-Testing==0.7.1
Flask-WTF==0.14.2
flower==0.9.2
folium==0.5.0
future==0.16.0
gensim==3.2.0
geographiclib==1.49
geopy==1.14.0
graphviz==0.8.2
gunicorn==19.7.1
h5py==2.7.1
html5lib==0.9999999
humanize==0.5.1
idna==2.6
ipykernel==4.8.2
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.2
itsdangerous==0.24
jedi==0.11.1
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.2.0
jupyter-contrib-core==0.3.3
jupyter-core==4.4.0
jupyter-nbextensions-configurator==0.4.0
jupyterthemes==0.19.0
kombu==4.2.0
lesscpy==0.13.0
lxml==4.6.5
Mako==1.0.7
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.1.2
mistune==0.8.3
more-itertools==4.2.0
mpmath==1.0.0
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.2.5
nose==1.3.7
notebook==5.4.0
ntlm-auth==1.0.6
numpy==1.14.0
pandas==0.21.1
pandas-datareader==0.6.0
pandocfilters==1.4.2
paramiko==2.4.0
parsedatetime==2.4
parso==0.1.1
pathlib2==2.3.2
patsy==0.4.1
pexpect==4.4.0
pickleshare==0.7.4
plotly==2.4.1
pluggy==0.6.0
ply==3.11
polyline==1.3.2
prompt-toolkit==1.0.15
protobuf==3.4.0
ptyprocess==0.5.2
py==1.5.3
py4j==0.10.6
pyasn1==0.3.7
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pydruid==0.4.3
pygeohash==1.2.0
Pygments==2.2.0
PyNaCl==1.2.0
pyOpenSSL==17.2.0
pyparsing==2.2.0
PySocks==1.6.7
pytest==3.6.1
python-dateutil==2.6.1
python-editor==1.0.3
python-geohash==0.8.5
python3-openid==3.1.0
pytz==2018.3
pywinrm==0.2.2
PyYAML==3.12
pyzmq==16.0.3
qtconsole==4.3.1
redis==2.10.6
requests==2.18.4
requests-file==1.4.3
requests-ftp==0.3.1
requests-ntlm==1.1.0
ruamel-yaml==0.13.11
Rx==1.6.1
s3transfer==0.1.12
sasl==0.2.1
Send2Trash==1.5.0
simplegeneric==0.8.1
simplejson==3.15.0
six==1.11.0
smart-open==1.5.6
SQLAlchemy==1.2.8
SQLAlchemy-Utils==0.33.3
sqlparse==0.2.4
statsmodels==0.8.0
superset==0.25.5
sympy==1.2
terminado==0.8.1
testpath==0.3.1
thrift==0.11.0
thrift-sasl==0.3.0
toree==0.1.0
tornado==4.5.3
tqdm==4.24.0
traitlets==4.3.2
unicodecsv==0.14.1
Unidecode==1.0.22
urllib3==1.22
vine==1.1.4
virtualenv==16.0.0
wcwidth==0.1.7
Werkzeug==0.12.2
widgetsnbextension==3.1.4
wrapt==1.10.11
WTForms==2.1
xlrd==1.1.0
xmltodict==0.11.0
